.form {
  width: 90%;
  margin-top: 10px;
}

.form label {
  font-weight: 400;
  font-size: 17px;
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  margin:10px 0;
  box-shadow:0 0 15px 4px rgba(31, 31, 31, 0.06);
}